.row{
  display: grid;
  width: 100%;
  column-count: 3
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

}

@media screen and (min-width: 992px) {
  div{display: grid;}
}

.container{
  display: inline-block;
  width: 23.333333%;
}
